@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$favColor: white;
$color0: #E86F6F;
$color1: #F79256;
$color2: #FEF5EC;
$color3: #7DCFB6;
$color4: #00B2CA;
$color5: #1D4E89;
$color6: #333745;
$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$tertiary-font: 'Pacifico', cursive;
