.list-div {
  border: 1px solid $color1;
  border-radius: 5px;
  margin: 5% 20%;
  padding: 3%;
}

.list-h1 {
  margin-bottom: 2%;
}

.add-by-recipe-btn {
  background-color: $color4;
  border-color: $color3;
  margin-bottom: 5%;
}
