.sign-in-container {
  display: flex;
  justify-content: center;
  background-color: $color2;
  height: 100vh;
}

.sign-in-outer {
  border: 3px $color4 solid;
  width: 30vw;
  height: 70vh;
  position: fixed;
  top: 12%;
  left: 32%;
  z-index: 1;
}

.sign-in-div {
  border: 3px $color0 solid;
  padding: 5%;
  width: 30vw;
  height: 70vh;
  position: fixed;
  top: 10%;
  left: 33%;
  z-index: 2;
  background-color: $color2;
}

.sign-in-h1 {
  margin: 10% 10% 20% 10%;
  color: $color6;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 300%;
}

.sign-in-btn {
  background-color: $color4;
  border-color: $color3;
  margin-bottom: 15%;
  border-radius: 30px;
  font-family: $secondary-font;
  font-weight: 300;
  font-size: 120%;
}
